img {
    width: 200px;
}
body {
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    background: rgb(9, 148, 102);
    color: rgb(229, 231, 95);
}
#footer {
    width: 100%;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}